# macOS-spezifisch
.DS_Store
.Trash/

# IDEs und Editor-Dateien
.idea/
.vscode/

# Python-Cache und Umgebung
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*

# Jupyter / IPython
.ipynb_checkpoints/
.ipython/

# Sonstiges
*.log
*.sqlite3

# Ordner außerhalb des Repos ignorieren
../